#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #002a3e;
  }
  
  .flb {
    background-color: #3ebffb;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }
  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }



.mandatory-indicator{
    color: red;

}

ion-card{
   position: absolute;
    display: block;
    height: 90%;
    width: 80%;
    top: 5%;
    left: 9%;
    bottom: 5%;
    right: 11%;
    border-top: 5px solid #1d59dbef; 
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(320deg,#e1e7f5ef 90%,#0059ff 10%);

}

.bg{
    height: 100%;
    width: 100%;text-align: center;
    background: linear-gradient(180deg,rgb(255, 255, 255) 10%,#0059ff 90%);
}

.head{
    position: absolute;
    display: block;
    color: rgb(34, 33, 33);
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 5px;
    transform: translate(-50%,-50%);
    
}
.head h1{
    padding-top: 2px;
    font-size: 5vh!important;
    font-weight: lighter!important;
    font-family:monospace;
    
}
.head h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 2vh;
    
}

/*
ion-item {
 
 --background: transparent;
--ion-color-base: transparent !important;
    ion-input {
        color:rgb(3, 3, 3);
        display: block;
        block-size: 100%;
        width: 100%;
        position: relative;
        text-align: justify;
        padding-top: 30px;
        margin-block-start: 20px;padding-left: 60px;
    }
    ion-label {
        color:rgb(5, 5, 5)!important;
        position: fixed;
        text-align: initial;
       // block-size: 100%;
        display: block;
    }
    .item-inner {
        border: 0!important;
        border-bottom: none!important;;
    }
}
*/
ion-button{
 
   
   position: relative;
  padding-top: 5px;
   
    padding-left: 20px;
    top: 90%;
    left: 25%;
    margin-top: 80px;
    border-radius: 25px;
    background: #e1e7f5ef;
   
    width: 40%;
    color:#110a4e!important;
    padding:2px 2px 2px 2px;
    font-size: 20px;
    
}
ion-item{
    position:relative;
  display:block;
  size:100%;
  top:70px;
  width:100%;
  padding-left: 20px;
  left:25px;
  right:50px;
  //padding-top: 20%;
 // margin-top: 20%;
  --background: transparent;
--ion-color-base: transparent !important;
block-size: 100%;
}
ion-input{
//position: absolute;
display:block;
//text-align:center;
width: 70%;
left: 47%;
padding-left: 20px!important;
position: fixed;
//text-align: justify;
//padding-top: 30px;
//margin-block-start: 20px;
//padding-left: 60px;

}
ion-label{
  position: fixed;
        text-align: center;
        left: 25%;
        
}
#gender{
    right:35%!important;
    left:58%!important;
    
}
/*ion-item{
ion-label{
#gender{
   // padding-left: 200px!important;
    position: relative!important;
        text-align: center;
    left:80%!important;
}
}}*/