<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="cards">
    <ion-col nowrap align-items-start>

      <ion-card (click)="goInfoPost()">
        <!--href="/info-post"-->
        <ion-card-header>
          <!--[routerLink]="['/info-post']"  routerDirection="forward"-->
          <!--routerLink="/app/pages/info-post/{{info-post.id}}"-->
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>My rides</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- <img src="/assets/icon/favicon.png">  -->
        </ion-card-content>
      </ion-card>

      <ion-card id="ioncard2" (click)="goInfoSearch()">
        <ion-card-header>
          <ion-card-subtitle>searching for a ride</ion-card-subtitle>
          <ion-card-title>search</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- <img src="/assets/icon/favicon.png">  -->
        </ion-card-content>
      </ion-card>

    </ion-col>

  </div>
</ion-content>